<!DOCTYPE html>
<html lang="en">

<head>
    <% include html/include/headblock %>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BovBot</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= channel %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <% include html/include/sidebar %>
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Commands
                        </h1>
                        <div class="contentDiv">
                            <center>
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <th colspan="2">BovBot Core Commands</th>
                                    </tr>
                                    <tr>
                                        <td><strong>Command</strong></td>
                                        <td><strong>Response</strong></td>
                                    </tr>
                                    <tr>
                                        <td>!commands</td>
                                        <td>Retuns a link to this page.</td>
                                    </tr>
                                    <tr>
                                        <td>!uptime</td>
                                        <td>Returns the length of time the stream has been online, or a notification that the
                                            stream is not online.</td>
                                    </tr>
                                    <tr>
                                        <td>!addcom [Name] [Response]</td>
                                        <td>Adds a new command to the database. CommandName must begin with !. (Moderators Only)</td>
                                    </tr>
                                    <tr>
                                        <td>!delcom [Name]</td>
                                        <td>Deletes a command from the database. (Moderators Only)</td>
                                    </tr>
                                    <tr>
                                        <td>!editcom [Name] [NewResponse]</td>
                                        <td>Changes the response given by an existing command. (Moderators Only)</td>
                                    </tr>
                                    <tr>
                                        <td>!topic [Topic]</td>
                                        <td>Changes the stream topic. (Moderators Only, requires API authorization.)</td>
                                    </tr>
                                    <tr>
                                        <td>!game [Game]</td>
                                        <td>Changes the stream game. (Moderators Only, requires API authorization.)</td>
                                    </tr>
                                    <tr>
                                        <td>!8ball [Question]</td>
                                        <td>Asks the Magic 8-Ball a question!</td>
                                    </tr>
                                    <tr>
                                        <td>!currency</td>
                                        <td>Returns the amount of currency the viewer currently has.</td>
                                    </tr>
                                    <tr>
                                        <td>!bet [Amount]</td>
                                        <td>Bets an amount of currency.</td>
                                    </tr>
                                    <tr>
                                        <td>!champion [Name] ([Ability])</td>
                                        <td>(League of Legends) Returns a list of abilities used by a given champion. If ability
                                            is given, returns a description of that ability instead.</td>
                                    </tr>
                                    <tr>
                                        <td>!skin [Name] | [Skin] [Quality]</td>
                                        <td>(CS:GO) Returns the lowest and median prices for a given skin. ex: !skin AK-47 |
                                            Jaguar (FN)</td>
                                    </tr>
                                    <tr>
                                        <td>!hs [Name]</td>
                                        <td>(Hearthstone) Returns Name, Cost and details of given card, or closest match if full
                                            name is not found.</td>
                                    </tr>
                                </table><br />
                                <a name="custom"></a>
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <th colspan="2">User Defined Commands for Channel:
                                            <%= channel %>
                                        </th>
                                        <td><button class="btn btn-primary" onclick="alert('NYI. Dev is lazy. Just use !addcom in chat anyway.');">Add New Command</button></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Command</strong></td>
                                        <td><strong>Response</strong></td>
                                        <td><strong>Actions</strong></td>
                                    </tr>
                                    <% for(var i =0; i
                                        <commands.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= commands[i]['command'] %>
                                            </td>
                                            <td>
                                                <%= commands[i]['response'] %>
                                            </td>
                                            <td><button class="btn btn-success" onclick="editCommand('<%= commands[i]['command'] %>', '<%= commands[i]['response'] %>');">Edit</button>&nbsp;&nbsp;
                                                <button class="btn btn-danger" onClick="deleteCommand('<%= commands[i]['command'] %>');">Delete</button>
                                            </td>
                                        </tr>
                                        <% } %>
                                </table><br />
                                <a name="timers"></a>
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <tr>
                                            <th colspan="2">User Defined Timers for Channel:
                                                <%= channel %>
                                            </th>
                                            <td><button class="btn btn-primary" onclick="addNewTimer()">Add New Timer</button></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Announcement</strong></td>
                                            <td><strong>Timer (Minutes)</strong></td>
                                            <td><strong>Actions</strong></td>
                                        </tr>
                                        <% for(var i =0; i
                                        <timers.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= timers[i]['response'] %>
                                                </td>
                                                <td>
                                                    <%= timers[i]['timer'] %>
                                                </td>
                                                <td><button class="btn btn-danger" onclick="deleteTimer('<%= timers[i]['id'] %>');">Delete</button></td>
                                            </tr>
                                            <% } %>
                                </table>
                                </tr>
                                </table>
                            </center>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>

        <!-- All the Modals -->
        <!-- Edit Command Modal-->
        <div class="modal fade" id="commandEditModal" tabindex="-1" role="dialog" aria-labelledby="commandEditLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                        <h4 class="modal-title" id="commandEditLabel">Edit Command</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="control-label" for="editCommandName">Command:</label>
                                    <input type="text" class="form-control" id="editCommandName" disabled />
                                    <label class="control-label" for="editCommandResponse">New Response:</label>
                                    <input type="text" class="form-control" id="editCommandResponse" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onClick="commitEditCommand();">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Timer Modal-->
        <div class="modal fade" id="addTimerModal" tabindex="-1" role="dialog" aria-labelledby="addTimerLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                        <h4 class="modal-title" id="addTimerLabel">Add Timer</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="control-label" for="addTimerAnnouncement">Announcement:</label>
                                    <input type="text" class="form-control" id="addTimerAnnouncement" />
                                    <label class="control-label" for="addTimerDelay">Timer:</label>
                                    <select class="form-control" id="addTimerDelay">
                                    <option value="15">15 Minutes</option>                                  
                                    <option value="30">30 Minutes</option>
                                    <option value="45">45 Minutes</option>                                    
                                    <option value="60">1 Hour</option>
                                </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onClick="commitAddTimer();">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <% include html/include/scriptblock %>
            <script>
                function deleteCommand(command) {
                    if (confirm('Really delete ' + command + '?')) {
                        $.post("http://www.bovinitydivinity.com", { clientHash: location.hash, op: 'deleteCommand', command: command }, function (data) {
                            if (data == 'done')
                                location.reload();
                        });
                    }
                }
                function editCommand(command, response) {
                    $('#editCommandName').val(command);
                    $('#editCommandResponse').val(response);
                    $('#commandEditModal').modal('show');
                }
                function commitEditCommand() {
                    var editCommandName = $('#editCommandName').val();
                    var editCommandResponse = $('#editCommandResponse').val();
                    $.post("http://www.bovinitydivinity.com", { clientHash: location.hash, op: 'editCommand', command: editCommandName, response: editCommandResponse }, function (data) {
                        if (data == 'done')
                            location.reload();
                    });
                }
                function addNewTimer() {
                    $('#addTimerModal').modal('show');
                }
                function commitAddTimer() {
                    var newTimerAnnouncement = $('#addTimerAnnouncement').val();
                    var newTimerDelay = $('#addTimerDelay').val()
                    var channel = '<%= channel %>';
                    $.post("http://www.bovinitydivinity.com", { clientHash: location.hash, op: 'addTimer', announcement: newTimerAnnouncement, delay: newTimerDelay }, function (data) {
                        if (data == 'done')
                            location.reload();
                    });
                }
                function deleteTimer(id) {
                    if (confirm('Really delete this Timer?')) {
                        $.post("http://www.bovinitydivinity.com", { clientHash: location.hash, op: 'deleteTimer', timerID: id }, function (data) {
                            if (data == 'done')
                                location.reload();
                        });
                    }
                }
            </script>
</body>

</html>