<!DOCTYPE html>
<html lang="en">

<head>
    <% include html/include/headblock %>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BovBot</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav"></ul>
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Commands
                        </h1>
                        <div class="contentDiv">
                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <th colspan="2">BovBot Core Commands</th>
                                </tr>
                                <tr>
                                    <td><strong>Command</strong></td>
                                    <td><strong>Response</strong></td>
                                </tr>
                                <tr>
                                    <td>!commands</td>
                                    <td>Retuns a link to this page.</td>
                                </tr>
                                <tr>
                                    <td>!uptime</td>
                                    <td>Returns the length of time the stream has been online, or a notification that the stream
                                        is not online.</td>
                                </tr>
                                <tr>
                                    <td>!addcom [Name] [Response]</td>
                                    <td>Adds a new command to the database. CommandName must begin with !. (Moderators Only)</td>
                                </tr>
                                <tr>
                                    <td>!delcom [Name]</td>
                                    <td>Deletes a command from the database. (Moderators Only)</td>
                                </tr>
                                <tr>
                                    <td>!editcom [Name] [NewResponse]</td>
                                    <td>Changes the response given by an existing command. (Moderators Only)</td>
                                </tr>
                                <tr>
                                    <td>!topic [Topic]</td>
                                    <td>Changes the stream topic. (Moderators Only, requires API authorization.)</td>
                                </tr>
                                <tr>
                                    <td>!game [Game]</td>
                                    <td>Changes the stream game. (Moderators Only, requires API authorization.)</td>
                                </tr>
                                <tr>
                                    <td>!8ball [Question]</td>
                                    <td>Asks the Magic 8-Ball a question!</td>
                                </tr>
                                <tr>
                                    <td>!champion [Name] ([Ability])</td>
                                    <td>(League of Legends) Returns a list of abilities used by a given champion. If ability
                                        is given, returns a description of that ability instead.</td>
                                </tr>
                                <tr>
                                    <td>!skin [Name] | [Skin] [Quality]</td>
                                    <td>(CS:GO) Returns the lowest and median prices for a given skin. ex: !skin AK-47 | Jaguar
                                        (FN)</td>
                                </tr>
                                <tr>
                                    <td>!hs [Name]</td>
                                    <td>(Hearthstone) Returns Name, Cost and details of given card, or closest match if full
                                        name is not found.</td>
                                </tr>
                            </table><br />
                            <a name="custom"></a>
                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <th colspan="2">User Defined Commands for Channel:
                                        <%= channel %>
                                    </th>
                                </tr>
                                <tr>
                                    <td><strong>Command</strong></td>
                                    <td><strong>Response</strong></td>
                                </tr>
                                <% for(var i =0; i
                                        <commands.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= commands[i]['command'] %>
                                        </td>
                                        <td>
                                            <%= commands[i]['response'] %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </table><br />
                            <a name="timers"></a>
                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <tr>
                                        <th colspan="2">User Defined Timers for Channel:
                                            <%= channel %>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td><strong>Announcement</strong></td>
                                        <td><strong>Timer (Seconds)</strong></td>
                                    </tr>
                                    <% for(var i =0; i
                                        <timers.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= timers[i]['response'] %>
                                            </td>
                                            <td>
                                                <%= timers[i]['timer'] %>
                                            </td>
                                        </tr>
                                        <% } %>
                            </table>
                            </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <% include html/include/scriptblock %>
</body>

</html>