<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BovBot Admin Site</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var sessionName = '<%= channel %>';
        if (!sessionName)
            document.location.assign('/');
    </script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BovBot</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= channel %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <% include html/include/sidebar %>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Commands
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Commands
                            </li>
                            <br />
                            <div class="contentDiv">
                                <center><br />                                    
                                    <table class="table table-bordered table-hover table-striped">
                                        <tr><th colspan="2">BovBot Core Commands</th></tr>
                                        <tr><td><strong>Command</strong></td><td><strong>Response</strong></td></tr>
                                        <tr>
                                            <td>!commands</td>
                                            <td>Retuns a link to this page.</td>
                                        </tr>
                                        <tr>
                                            <td>!uptime</td>
                                            <td>Returns the length of time the stream has been online, or a notification that the stream is not online.</td>
                                        </tr>
                                        <tr>
                                            <td>!addcom [Name] [Response]</td>
                                            <td>Adds a new command to the database. CommandName must begin with !. (Moderators Only)</td>
                                        </tr>
                                        <tr>
                                            <td>!delcom [Name]</td>
                                            <td>Deletes a command from the database. (Moderators Only)</td>
                                        </tr>
                                        <tr>
                                            <td>!editcom [Name] [NewResponse]</td>
                                            <td>Changes the response given by an existing command. (Moderators Only)</td>
                                        </tr>
                                        <tr>
                                            <td>!promote [Viewer]</td>
                                            <td>Promotes an existing viewer to Regular status. (Moderators Only)</td>
                                        </tr>
                                        <tr>
                                            <td>!topic [Topic]</td>
                                            <td>Changes the stream topic. (Moderators Only, requires API authorization.)</td>
                                        </tr>
                                        <tr>
                                            <td>!game [Game]</td>
                                            <td>Changes the stream game. (Moderators Only, requires API authorization.)</td>
                                        </tr>
                                    </table><br />
                                    <a name="custom"></a>
                                    <table class="table table-bordered table-hover table-striped">
                                        <tr><th colspan="2">User Defined Commands for Channel: <%= channel %></th></tr>
                                        <tr><td><strong>Command</strong></td><td><strong>Response</strong></td></tr>
                                        <% for(var i =0; i
                                        <commands.length; i++) { %>
                                            <tr><td><%= commands[i]['command'] %></td><td><%= commands[i]['response'] %></td></tr>
                                            <% } %>
                                    </table><br />
                                    <a name="timers"></a>
                                    <table class="table table-bordered table-hover table-striped">
                                        <tr>
                                        <tr><th colspan="2">User Defined Timers for Channel: <%= channel %></th></tr>
                                        <tr><td><strong>Announcement</strong></td><td><strong>Timer (Seconds)</strong></td></tr>
                                        <% for(var i =0; i
                                        <timers.length; i++) { %>
                                            <tr><td><%= timers[i]['response'] %></td><td><%= timers[i]['timer'] %></td></tr>
                                            <% } %>
                                    </table>
                                    </tr>
                                    </table>
                                </center>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>

